@import "tailwindcss";

@theme {
  --color-custom-pink: oklch(85.51% 0.0411 12.31);
  --green: oklch(87.18% 0.1269 141.37);
  --purple: oklch(74.51% 0.1032 282.98);
  --hot-pink: oklch(73.32% 0.2291 338.7);
  --blue: oklch(69.03% 0.1562 256.43);
  --orange: oklch(87.42% 0.1093 76.16);
  --cyan: oklch(81.38% 0.0842 212.19);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--color-custom-pink);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}